
<h1 class="text-center mt-4"><%= @article.title %></h1>
<div class="container">

    <div class="row justify-content-md-center">
      <div class="col-6 mt-4">
        <div class="shadow-lg mb-5 bg-white rounded">
        <div class="card text-center">
          <div class="card-header font-italic">
            by <%= @article.user.username if @article.user %>
            <%= link_to gravatar_for(@article.user, size: 70), user_path(@article.user) %>
          </div>
          <div class="card-body">
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>

            <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-success" %>
            <!--<a href="#" class="btn btn-outline-danger">Destroy</a> -->
            <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-outline-danger" %>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(@article.created_at) %> ago,
              Edited <%= time_ago_in_words(@article.updated_at) %> ago
            </small>

          </div>
        </div>
        </div>
      </div>
    </div>
</div>
